{{ template "header.html" . }}
<div class="flex min-h-full flex-1 flex-col justify-center select-connector">
  <div class="sm:mx-auto sm:w-full sm:max-w-md connector-body">
    <div class="main-logo">
      <svg
        width="360"
        height="180"
        viewBox="0 0 180 76"
        xmlns="http://www.w3.org/2000/svg"
      >
        <!-- Main Paths for Logo (Blue Shades) -->
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M78 69.9993H36.925C32.64 69.9993 28.68 67.8884 26.535 64.4566L26 63.602L25.465 62.7429C23.32 59.3157 19.36 57.2002 15.07 57.2002H0L8 44.4011H23.07C25.215 44.4011 27.275 44.9277 29.07 45.8838C30.865 46.8445 32.395 48.2302 33.465 49.9438L34 50.7984L34.535 51.6575C36.68 55.0893 40.64 57.2002 44.925 57.2002H70L74 63.602L78 69.9993Z"
          fill="url(#paint0_linear)"
        />

        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M77.9934 70L37.9985 6L30 18.8L61.9989 70H77.9934Z"
          fill="url(#paint1_linear)"
        />

        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M45.9947 18.7991L41.9947 25.2009L37.9947 31.6028L33.9947 38L29.9947 44.4019L29.0697 45.8845C27.2747 44.9284 25.2147 44.4019 23.0697 44.4019H8.21973C11.7947 44.4019 15.0947 42.642 16.8797 39.7829L17.9947 38L21.9947 31.6028L25.9947 25.2009L29.9947 18.7991L33.9947 12.4018L37.9947 6L41.9947 12.4018L45.9947 18.7991Z"
          fill="url(#paint2_linear)"
        />

        <!-- Text -->
        <text
          x="90"
          y="40"
          font-family="Lato, sans-serif"
          font-size="24"
          letter-spacing="0.5"
          fill="#0D2239"
        >
          open
        </text>
        <text
          x="90"
          y="65"
          font-family="Lato, sans-serif"
          font-size="24"
          letter-spacing="0.5"
          fill="#0D2239"
        >
          comply
        </text>

        <!-- Gradients -->
        <defs>
          <linearGradient
            id="paint0_linear"
            x1="7800"
            y1="1483.58"
            x2="4042.37"
            y2="707.509"
            gradientUnits="userSpaceOnUse"
          >
            <stop offset="0%" stop-color="#2563EA" />
            <stop offset="100%" stop-color="#014BFA" />
          </linearGradient>
          <linearGradient
            id="paint1_linear"
            x1="1595.35"
            y1="6.00001"
            x2="2699.18"
            y2="3042.53"
            gradientUnits="userSpaceOnUse"
          >
            <stop offset="0%" stop-color="#2563EA" />
            <stop offset="100%" stop-color="#014BFA" />
          </linearGradient>
          <linearGradient
            id="paint2_linear"
            x1="3170.4"
            y1="4816.27"
            x2="3170.4"
            y2="6"
            gradientUnits="userSpaceOnUse"
          >
            <stop offset="0%" stop-color="#1C155C" />
            <stop offset="39.942%" stop-color="#014BFA" />
            <stop offset="99.99%" stop-color="#014BFA" />
            <stop offset="100%" stop-color="#FD7810" />
          </linearGradient>
        </defs>
      </svg>
    </div>
    <div class="text">Welcome Back to Opencomply.</div>
    <div class="connector-buttons">
      {{ range $c := .Connectors }}
      <a href="{{ $c.URL }}" class="connector-link">
        <button asChild variant="secondary" class="connector-button">
          Login with {{ $c.Name }}
        </button>
      </a>

      {{ end }}
    </div>
  </div>
</div>
