{{ template "header.html" . }}
<form action="{{ .PostURL }}" method="post" class="mt-6 space-y-4 bg-white">
  <div class="flex flex-col mb-2">
    <label
      htmlFor="email"
      class="text-sm font-medium text-gray-900 dark:text-gray-50"
    >
      {{ .UsernamePrompt }}
    </label>
    <input
      tabindex="1"
      required
      id="login"
      name="login"
      type="text"
      autocomplete="email"
      placeholder="{{ .UsernamePrompt | lower }}"
      class="mt-2"
      {{
      if
      .Username
      }}
      value="{{ .Username }}"
      {{
      else
      }}
      autofocus
      {{
      end
      }}
    />
  </div>
  <div class="flex flex-col mb-2">
    <label
      htmlFor="password"
      class="text-sm font-medium text-gray-900 dark:text-gray-50"
    >
      Password
    </label>
    <input
      type="password"
      id="password"
      name="password"
      autocomplete="password"
      placeholder="Password"
      class="mt-2"
      {{
      if
      .Invalid
      }}
      autofocus
      {{
      end
      }}
    />
  </div>
  <button type="submit" class="mt-4 w-full primary">Sign in</button>
</form>
{{ if .Invalid }}
<span class="error-text">Username Or Password is invalid</span>
{{ end }} {{ if .BackLink }}
<div class="link-back">
  <a href="{{ .BackLink }}">Go Back</a>
</div>
{{ end }}

<script type="text/javascript">
  document.querySelector("form").onsubmit = function (e) {
    var el = document.querySelector("#submit-login");
    el.setAttribute("disabled", "disabled");
  };
</script>

{{ template "footer.html" . }}
